<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif:ital,wght@1,700&family=Playfair+Display&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="container">
            <div class="subContainer_1">
              <div class="heading_1">
                    <h1>Weather App</h1>
              </div>
              <div class="form">
                  <form action="/" method="post">
                      <div>
                          <label class="citylabel" for="cityInput">City : </label>
                          <input class="input_area" id="cityInput" type="text" name="cityName" autocomplete="off"><br>
                      </div>
                      <button class="button" type="submit" >Search</button>
                  </form>
              </div>
            </div>

            